<!DOCTYPE html>
<html>
    <head>
        <title>Main page</title>
        <link rel="stylesheet" href="room.css">
        <script src="angular.min.js"></script>
        <script src="room.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="firstCtrl">
        <header>
            <img src="image/logo.jpeg">
            <h2>TCE Hostel</h2>
        </header>
        <section ng-controller="secondCtrl">
            <h2>Room Allotments</h2>
            <div>
                <select ng-model="block">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                    <option>E</option>
                    <option>F</option>
                </select>
                <button id="block" ng-click="changeblock(block)">Choose your block</button>
            </div>
            <div class="room">
                <div id="room1" ng-repeat="x in room_num" ng-if="$index < 5">
                    <button>{{x}}</button>
                </div>
                <div id="room2" ng-repeat="x in room_num" ng-if="$index > 4">
                    <button>{{x}}</button>
                </div>
            </div>
            <button ng-click="addvalue($event)">Sample</button>
            <div class="allot">
                <div id="allot1">
                    <button>1</button>
                    <button>2</button>
                </div>
                <div id="allot2">
                    <button>3</button>
                    <button>4</button>
                </div>
            </div>
            <div class="floor">
                <h3>{{bl}}-Block</h3>
                <button ng-click="changeroom('2')">Second</button>
                <button ng-click="changeroom('1')">First</button>
                <button ng-click="changeroom('0')">Ground</button>
                <h3>Floor:{{num}}</h3>
            </div>
        </section>
    </body>
</html>
